@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

body {
  margin: 0;
  font-family: "Pacifico", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$lightPink: #f9e0f0;
$darkRed: #960a0a;
$pink: #eea7cb;
$darkSalmon: #bd5353;
$salmon: #f9cdda;
